<.flash_group flash={@flash} />

<div>
  <.header>Golf</.header>

  <.simple_form :if={@current_user} for={%{}} action={~p"/games/create"}>
    <:actions>
      <.button>New Game</.button>
    </:actions>
  </.simple_form>
</div>
